
#community-hero {
	border-bottom: solid 1px rgba(0,0,0,.2);
	
	text-align: center;
	padding: 20px 20px 0px 20px;
}

#community-lists ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#community-lists ul + h3{
	margin-top: 40px;
}

#konqis {
	width: 100%; 
	max-width: 800px; 
	display: block; 
	margin: 20px auto 0px;
}
